<div class="col-xs-12">
  <form #userForm="ngForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="username">Name</label>
      <input type="text" class="form-control" id="username" [(ngModel)]="user.username" name="name_input" required minlength="5" #inputUserName="ngModel">
      <div class="alert alert-danger" *ngIf="!inputUserName.valid && (!inputUserName.pristine || userForm.submitted)">
        <small>Name is required and must have more than 5 characters</small>
      </div>
    </div>

    <div class="form-group">
      <label for="street">Street</label>
      <input type="text" class="form-control" id="street" [(ngModel)]="user.street" name="street_input" required #inputStreet="ngModel">
      <div class="alert alert-danger" *ngIf="!inputStreet.valid && (!inputStreet.pristine || userForm.submitted)">
        <small>Street is required</small>
      </div>
    </div>

    <div class="form-group">
      <label for="postcode">Post code</label>
      <input type="text" class="form-control" id="postcode" [(ngModel)]="user.postcode" name="post_code">
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" name="email" [(ngModel)]="user.email" required #inputEmail="ngModel">
      <div class="alert alert-danger" *ngIf="!inputEmail.valid && (!inputEmail.pristine || userForm.submitted)">
        <small>Email is required</small>
      </div>
    </div>

    <div class="form-group">
      <label for="email">Password</label>
      <input type="text" class="form-control" id="password" name="password" [(ngModel)]="user.password" required #inputPassword="ngModel">
      <div class="alert alert-danger" *ngIf="!inputPassword.valid && (!inputPassword.pristine || userForm.submitted)">
        <small>Password is required</small>
      </div>
    </div>





    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <hr>
  <h4>Inputed Data</h4>
  <p> {{ user | json }} </p>
  <hr>
  <h4>Form Data</h4>
  <p> {{ userForm.value | json }} </p>
</div>
