<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<div class="container">
  <div class="screen" >
    <input class="screen" type="text" [value]="result" >
  </div>
  <div class="keyboard">
    <button class="item item1" (click)="allClear()">AC</button>
    <button class="item item2" (click)="backspace()">DEL</button>
    <button class="item item3" (click)="pressKey('+')">+</button>
    <button class="item item4" (click)="pressKey('7')">7</button>
    <button class="item item5" (click)="pressKey('8')">8</button>
    <button class="item item6" (click)="pressKey('9')">9</button>
    <button class="item item7" (click)="pressKey('-')">-</button>
    <button class="item item8" (click)="pressKey('4')">4</button>
    <button class="item item9" (click)="pressKey('5')">5</button>
    <button class="item item10" (click)="pressKey('6')">6</button>
    <button class="item item11" (click)="pressKey('*')">*</button>
    <button class="item item12" (click)="pressKey('1')">1</button>
    <button class="item item13" (click)="pressKey('2')">2</button>
    <button class="item item14" (click)="pressKey('3')">3</button>
    <button class="item item15" (click)="pressKey('/')">/</button>
    <button class="item item16" (click)="pressKey('0')">0</button>
    <button class="item item17" (click)="pressKey('00')">00</button>
    <button class="item item18" (click)="pressKey('.')">.</button>
    <button class="item item19" (click)="calculate()">=</button>
  </div>
</div>
</body>
</html>

