<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
</head>
<body style="margin: 0; padding: 0;background-image: radial-gradient(#0c5460,#e0e0e0);">

<div style="min-height:75vh;padding: 15px 550px 15px 550px">

    <div style="width: 800px; background-color: white; padding: 10px; margin-top: 100px;border-radius: 10px">
      <h1 style="border-radius: 5px; background-color: #046056;color: white;font-family: 'Arial Black',serif;text-align: center">EDIT SERVICE</h1>
      <form id="createVilla" novalidate="novalidate" class="p-3">
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="idV">Service ID</label>
              <input readonly placeholder="Auto Increase" type="text" class="form-control" id="idV">
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="nameV">Service Name</label>
              <input type="text" class="form-control" id="nameV">
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="areaV">Service Area</label>
              <input type="text" class="form-control" id="areaV">
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="costV">Service Cost</label>
              <input type="text" class="form-control" id="costV">
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="standardRoomV">Service Standar Room</label>
              <select class="form-select form-control" id="standardRoomV">
                <option *ngFor="let roomStandard of roomStandardList" value="{{ roomStandard}}">{{ roomStandard}}</option>
              </select>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="amountCustomerV">Service Amount Customer</label><br>
              <input type="text" class="form-control" id="amountCustomerV">
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="descriptionV">Service Description</label><br>
              <input type="text" class="form-control" id="descriptionV">
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="poolAreaV">Service Pool Area</label><br>
              <input type="text" class="form-control" id="poolAreaV">
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="floorV">Service Floor</label><br>
              <input type="text" class="form-control" id="floorV">
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="rentTypeV">Service Rent Type</label><br>
              <select class="form-select form-control" id="rentTypeV">
                <option *ngFor="let rentType of rentTypeList" value="{{ rentType.getid()}}">{{ rentType.getname()}}</option>
              </select>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="facilityTypeV">Service Type</label><br>
              <select class="form-select form-control" id="facilityTypeV">
                <option *ngFor="let facilityType of facilityTypeList" value="{{ facilityType.getid()}}">{{ facilityType.getname()}}</option>
              </select>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="freeServiceV">Free Service</label><br>
              <input readonly placeholder="Don't have this option" type="text" class="form-control" id="freeServiceV">
            </div>
          </div>
        </div>

        <!--                BUTTON IN VILLA-->

        <br>
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group me-2" role="group" aria-label="First group">
            <button class="btn btn-success save1" data-dismiss="modal" id="save1" >Save</button>
          </div>
          <div class="btn-group" role="group" aria-label="Third group">
            <button class="btn btn-primary">
              <a style="color: white;text-decoration: none;" href="http://localhost:4200/facility" role="button">Back to service list</a>
            </button>
          </div>
        </div>

      </form>
    </div>

</div>
</body>
</html>
