<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
</head>
<body style="margin: 0; padding: 0;background-image: radial-gradient(#0c5460,#e0e0e0);">

<div style="min-height:75vh;padding: 15px 550px 15px 550px">

  <div style="width: 800px; background-color: white; padding: 10px; margin-top: 100px;border-radius: 10px">
    <h1 style="text-align: center;border-radius: 5px; background-color: #046056;color: white;font-family: 'Arial Black',serif;">CREATE
      SERVICE</h1>
    <br>
    <div class="row">
      <div class="col-4" style="padding: 0px 60px 0px 60px">
        <button data-target="#addVilla" (click)="openPopupV()"
                style="background-color: white;color: black; border-radius: 5px; height: 40px"
                type="button" data-toggle="modal">
          &#10010;ADD New Villa
        </button>
      </div>
      <div class="col-4" style="padding: 0px 58px 0px 58px">
        <button data-target="#addHouse" (click)="openPopupH()"
                style="background-color: white;color: black; border-radius: 5px; height: 40px"
                type="button" data-toggle="modal">
          &#10010;ADD New House
        </button>
      </div>
      <div class="col-4" style="padding: 0px 60px 0px 60px">
        <button data-target="#addRoom" (click)="openPopupR()"
                style="background-color: white;color: black; border-radius: 5px; height: 40px"
                type="button" data-toggle="modal">
          &#10010;ADD New Room
        </button>
      </div>
    </div>
    <br>
  </div>

  <!--ADD VILLA-->

  <div class="modal" id="addVilla" [ngStyle]="{'display':displayStyle1}">
    <div class="modal-dialog">
      <div class="modal-content"
           style="width: 800px; position: absolute;float: left;left: 50%;top: 50%; transform: translate(-50%, 25%);padding: 10px;border-radius: 10px">
        <h1
          style="border-radius: 5px; background-color: #046056;color: white;font-family: 'Arial Black',serif;text-align: center">
          CREATE VILLA</h1>
        <form id="createVilla" novalidate="novalidate" class="p-3">
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label for="idV">Service ID</label>
                <input readonly placeholder="Auto Increase" type="text" class="form-control" id="idV">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="nameV">Service Name</label>
                <input type="text" class="form-control" id="nameV">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="areaV">Service Area</label>
                <input type="text" class="form-control" id="areaV">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="costV">Service Cost</label>
                <input type="text" class="form-control" id="costV">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="standardRoomV">Service Standar Room</label>
                <select class="form-select form-control" id="standardRoomV">
                  <option *ngFor="let roomStandard of roomStandardList" value="{{ roomStandard}}">{{ roomStandard}}</option>
                </select>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="amountCustomerV">Service Amount Customer</label><br>
                <input type="text" class="form-control" id="amountCustomerV">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="descriptionV">Service Description</label><br>
                <input type="text" class="form-control" id="descriptionV">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="poolAreaV">Service Pool Area</label><br>
                <input type="text" class="form-control" id="poolAreaV">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="floorV">Service Floor</label><br>
                <input type="text" class="form-control" id="floorV">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="rentTypeV">Service Rent Type</label><br>
                <select class="form-select form-control" id="rentTypeV">
                  <option *ngFor="let rentType of rentTypeList" value="{{ rentType.getid()}}">{{ rentType.getname()}}</option>
                </select>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="facilityTypeV">Service Type</label><br>
                <select class="form-select form-control" id="facilityTypeV">
                  <option *ngFor="let facilityType of facilityTypeList" value="{{ facilityType.getid()}}">{{ facilityType.getname()}}</option>
                </select>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="freeServiceV">Free Service</label><br>
                <input readonly placeholder="Don't have this option" type="text" class="form-control" id="freeServiceV">
              </div>
            </div>
          </div>

          <!--                BUTTON IN VILLA-->

          <br>
          <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group me-2" role="group" aria-label="First group">
              <button class="btn btn-success save1" data-dismiss="modal" id="save1">Save</button>
            </div>
            <div class="btn-group me-2" role="group" aria-label="Second group">
              <button (click)="closePopupV()" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
            <div class="btn-group" role="group" aria-label="Third group">
              <button class="btn btn-primary">
                <a style="color: white;text-decoration: none;" href="http://localhost:4200/facility" role="button">Back to service list</a>
              </button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>

  <!--ADD HOUSE-->

  <div class="modal" id="addHouse" [ngStyle]="{'display':displayStyle2}">
    <div class="modal-dialog">
      <div class="modal-content"
           style="width: 800px; position: absolute;float: left;left: 50%;top: 50%; transform: translate(-50%, 25%);padding: 10px;border-radius: 10px">
        <h1
          style="border-radius: 5px; background-color: #046056;color: white;font-family: 'Arial Black',serif;text-align: center">
          CREATE HOUSE</h1>
        <form id="createHouse" novalidate="novalidate" class="p-3">
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label for="idH">Service ID</label>
                <input readonly placeholder="Auto Increase" type="text" class="form-control" id="idH">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="nameH">Service Name</label>
                <input type="text" class="form-control" id="nameH">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="areaH">Service Area</label>
                <input type="text" class="form-control" id="areaH">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="costH">Service Cost</label>
                <input type="text" class="form-control" id="costH">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="standardRoomH">Service Standar Room</label>
                <select class="form-select form-control" id="standardRoomH">
                  <option *ngFor="let roomStandard of roomStandardList" value="{{ roomStandard}}">{{ roomStandard}}</option>
                </select>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="amountCustomerH">Service Amount Customer</label><br>
                <input type="text" class="form-control" id="amountCustomerH">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="descriptionH">Service Description</label><br>
                <input type="text" class="form-control" id="descriptionH">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="poolAreaH">Service Pool Area</label><br>
                <input readonly placeholder="Don't have this option" type="text" class="form-control" id="poolAreaH">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="floorH">Service Floor</label><br>
                <input type="text" class="form-control" id="floorH">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="rentTypeH">Service Rent Type</label><br>
                <select class="form-select form-control" id="rentTypeH">
                  <option *ngFor="let rentType of rentTypeList" value="{{ rentType.getid()}}">{{ rentType.getname()}}</option>
                </select>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="facilityTypeH">Service Type</label><br>
                <select class="form-select form-control" id="facilityTypeH">
                  <option *ngFor="let facilityType of facilityTypeList" value="{{ facilityType.getid()}}">{{ facilityType.getname()}}</option>
                </select>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="freeServiceH">Free Service</label><br>
                <input type="text" readonly placeholder="Don't have this option" class="form-control" id="freeServiceH">
              </div>
            </div>
          </div>

          <!--                BUTTON IN HOUSE-->

          <br>
          <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group me-2" role="group" aria-label="First group">
              <button class="btn btn-success save2" data-dismiss="modal" id="save2">Save</button>
            </div>
            <div class="btn-group me-2" role="group" aria-label="Second group">
              <button (click)="closePopupH()" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
            <div class="btn-group" role="group" aria-label="Third group">
              <button class="btn btn-primary">
                <a style="color: white;text-decoration: none;" href="http://localhost:4200/facility" role="button">Back to service list</a>
              </button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>

  <!--ADD ROOM-->

  <div class="modal" id="addRoom" [ngStyle]="{'display':displayStyle3}">
    <div class="modal-dialog">
      <div class="modal-content"
           style="width: 800px; position: absolute;float: left;left: 50%;top: 50%; transform: translate(-50%, 25%);padding: 10px;border-radius: 10px">
        <h1
          style="border-radius: 5px; background-color: #046056;color: white;font-family: 'Arial Black',serif;text-align: center">
          CREATE ROOM</h1>
        <form id="createRoom" novalidate="novalidate" class="p-3">
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label for="idR">Service ID</label>
                <input readonly placeholder="Auto Increase" type="text" class="form-control" id="idR">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="nameR">Service Name</label>
                <input type="text" class="form-control" id="nameR">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="areaR">Service Area</label>
                <input type="text" class="form-control" id="areaR">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="costR">Service Cost</label>
                <input type="text" class="form-control" id="costR">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="standardRoomR">Service Standar Room</label>
                <input readonly placeholder="Don't have this option" type="text" class="form-control"
                       id="standardRoomR">
              </div>

            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="amountCustomerR">Service Amount Customer</label><br>
                <input type="text" class="form-control" id="amountCustomerR">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="descriptionR">Service Description</label><br>
                <input readonly placeholder="Don't have this option" type="text" class="form-control" id="descriptionR">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="poolAreaR">Service Pool Area</label><br>
                <input readonly placeholder="Don't have this option" type="text" class="form-control" id="poolAreaR">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="floorR">Service Floor</label><br>
                <input readonly placeholder="Don't have this option" type="text" class="form-control" id="floorR">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="rentTypeR">Service Rent Type</label><br>
                <select class="form-select form-control" id="rentTypeR">
                  <option *ngFor="let rentType of rentTypeList" value="{{ rentType.getid()}}">{{ rentType.getname()}}</option>
                </select>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="facilityTypeR">Service Type</label><br>
                <select class="form-select form-control" id="facilityTypeR">
                  <option *ngFor="let facilityType of facilityTypeList" value="{{ facilityType.getid()}}">{{ facilityType.getname()}}</option>
                </select>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="freeServiceR">Free Service</label><br>
                <input type="text" class="form-control" id="freeServiceR">
              </div>
            </div>
          </div>

          <!--                BUTTON IN ROOM-->

          <br>
          <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group me-2" role="group" aria-label="First group">
              <button class="btn btn-success save3" data-dismiss="modal" id="save3">Save</button>
            </div>
            <div class="btn-group me-2" role="group" aria-label="Second group">
              <button (click)="closePopupR()" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
            <div class="btn-group" role="group" aria-label="Third group">
              <button class="btn btn-primary">
                <a style="color: white;text-decoration: none;" href="http://localhost:4200/facility" role="button">Back to service list</a>
              </button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>

</div>

</body>
</html>
