<body style="background-color: darkcyan;height: 100vh;width: 100vw;padding-top: 100px">
<table style="margin: auto;width: 500px;">
  <tr>
    <td><button (click)="setoperator('1')" ><div style="background-color: red;height: 50px;width: 50px"></div></button></td>
    <td><button (click)="setoperator('2')" ><div style="background-color: blue;height: 50px;width: 50px"></div></button></td>
    <td><button (click)="setoperator('3')" ><div style="background-color: green;height: 50px;width: 50px"></div></button></td>
    <td><button (click)="setoperator('4')" ><div style="background-color: yellow;height: 50px;width: 50px"></div></button></td>
    <td><button (click)="setoperator('5')" ><div style="background-color: orange;height: 50px;width: 50px"></div></button></td>
    <td rowspan="5" colspan="5"><button (click)="setoperator('red')" ><div [class]="style"></div></button></td>
  </tr>
  <tr>
    <td><button (click)="setoperator('6')" ><div style="background-color: darkslateblue;height: 50px;width: 50px"></div></button></td>
    <td><button (click)="setoperator('7')" ><div style="background-color: lightskyblue;height: 50px;width: 50px"></div></button></td>
    <td><button (click)="setoperator('8')" ><div style="background-color: aqua;height: 50px;width: 50px"></div></button></td>
    <td><button (click)="setoperator('9')" ><div style="background-color: antiquewhite;height: 50px;width: 50px"></div></button></td>
    <td><button (click)="setoperator('10')" ><div style="background-color: gray;height: 50px;width: 50px"></div></button></td>
  </tr>
  <tr>
    <td><button (click)="setoperator('11')" ><div style="background-color: crimson;height: 50px;width: 50px"></div></button></td>
    <td><button (click)="setoperator('12')" ><div style="background-color: cadetblue;height: 50px;width: 50px"></div></button></td>
    <td><button (click)="setoperator('13')" ><div style="background-color: chartreuse;height: 50px;width: 50px"></div></button></td>
    <td><button (click)="setoperator('14')" ><div style="background-color: chocolate;height: 50px;width: 50px"></div></button></td>
    <td><button (click)="setoperator('15')" ><div style="background-color: coral;height: 50px;width: 50px"></div></button></td>
  </tr>
  <tr>
    <td><button (click)="setoperator('16')" ><div style="background-color: cornflowerblue;height: 50px;width: 50px"></div></button></td>
    <td><button (click)="setoperator('17')" ><div style="background-color: cornsilk;height: 50px;width: 50px"></div></button></td>
    <td><button (click)="setoperator('18')" ><div style="background-color: cyan;height: 50px;width: 50px"></div></button></td>
    <td><button (click)="setoperator('19')" ><div style="background-color: burlywood;height: 50px;width: 50px"></div></button></td>
    <td><button (click)="setoperator('20')" ><div style="background-color: beige;height: 50px;width: 50px"></div></button></td>
  </tr>
  <tr>
    <td><button (click)="setoperator('21')" ><div style="background-color: darkblue;height: 50px;width: 50px"></div></button></td>
    <td><button (click)="setoperator('22')" ><div style="background-color: darkcyan;height: 50px;width: 50px"></div></button></td>
    <td><button (click)="setoperator('23')" ><div style="background-color: darkgoldenrod;height: 50px;width: 50px"></div></button></td>
    <td><button (click)="setoperator('24')" ><div style="background-color: darkgray;height: 50px;width: 50px"></div></button></td>
    <td><button (click)="setoperator('25')" ><div style="background-color: darkolivegreen;height: 50px;width: 50px"></div></button></td>
  </tr>
</table>
</body>









